@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.discover {
  --left: rgb(40, 40, 60);
  --right: rgb(30, 30, 50);
  --background: rgb(20, 20, 40);

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .discoverWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4vmin;
    background: var(--background);
    overflow: visible;
    box-sizing: border-box;
  }
  .contentWrapper {
    border-radius: 4vmin;
    height: 100%;
    width: 100%;
    background: var(--background);
    display: flex;
    box-shadow: 0px 0px 2vmin black;
  }
  .left {
    background: var(--left);
    height: 100%;
    width: 20%;
    transition: all 0.5s cubic-bezier(0.19, 0.76, 0.33, 0.98);
    display: flex;
    padding: 2vmin;
    box-sizing: border-box;
  }
  .closed{
    width: 0%;
    padding: 0;
  }
  .right {
    background: var(--right);
    height: 100%;
    flex: 1;
    display: flex;
    box-sizing: border-box;
    .top{
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 2vmin;
      .searchBar{
        flex: 1;
        height: 4vmin;
        background: var(--left);
        border-radius: 4vmin 4vmin;
        margin: 0 2vmin;
        color: white;
        border: none;
        box-sizing: border-box;
        padding: 0 2vmin;
        outline: none;
      }
    }
  }
  .collapseButton{
    background: var(--left);
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .collapseImage{
      transition: transform 0.5s;
      transform: rotateY(180deg);
    }
    .rotated{
      transform: rotateY(0deg);
    }
  }

}
