@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --primary: rgb(255, 255, 255);
  --support: rgb(180, 180, 180);
  --space: rgb(1, 2, 40);
  --login-box-width: 50vmin;
  --login-box-height: 40vmin;
  --login-box-radius: 4vmin;
  --login-box-background: rgba(255, 255, 255, 1);
  --login-box-padding: 2vmin 6vmin 2vmin 6vmin;
  --login-box-field-background: rgba(200, 200, 200, 1);
  --login-box-field-radius: 2vmin;
  --login-box-field-padding: 2vmin 2vmin 2vmin 2vmin;
  --login-button-background: rgb(4, 111, 251);

  --planet-dimensions: 150vmin;
  --planet-background: #38c7ff;
  --planet-glow-radius: 250vmin;
  --planet-glow: rgba(4, 111, 251, 0.6);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.body {
  width: 100vw;
  height: 100vw;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Rubik', sans-serif;
  position: absolute;
}

.appWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.loginWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.loginBox {
  width: var(--login-box-width);
  height: var(--login-box-height);
  border-radius: var(--login-box-radius);
  background: var(--login-box-background);
  padding: var(--login-box-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inputField {
  border-radius: var(--login-box-field-radius);
  background: var(--login-box-field-background);
  border-radius: var(--login-box-field-radius);
  padding: var(--login-box-field-padding);
  box-sizing: border-box;
  cursor: text;
  width: 100%;
}

.loginButton {
  color: var(--primary);
  width: 100%;
  background: var(--login-button-background);
  height: 30%;
  width: 100%;
  border-radius: var(--login-box-field-radius);
  box-sizing: border-box;
  font-weight: bolder;
  font-size: large;
  letter-spacing: 0.05em;
}

.loginBackground {
  width: 100%;
  height: 100%;
  background: var(--space);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.planetWrapper {
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.planet {
  aspect-ratio: 1/1;
  width: var(--planet-dimensions);
  border-radius: 50%;
  background: var(--planet-background);
  position: relative;
  box-shadow: 0px 0px var(--planet-glow-radius) 0vmin var(--planet-glow);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(55%);
}

.planetShadow {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 10vmin 8vmin var(--space) inset;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

@keyframes orbit {
  0% {
    transform: translateY(-45%) translateX(0%);
  }

  50% {
    transform: translateY(-60%) translateX(-50%);
  }

  100% {
    transform: translateY(-45%) translateX(100%);
  }
}

.earth {
  min-width: 150vmin;
  animation: orbit 240s infinite linear;
}

.title {
  color: white;
  position: absolute;
  top: 24%;
  font-size: 2em;
  font-weight: bolder;
}

.starWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 0.15vmin;
  height: 0.15vmin;
  animation: twinkle var(--duration) infinite;
}

@keyframes twinkle {
  0% {
    width: 0.1vmin;
    height: 0.1vmin;
    opacity: 0.9;
  }
}
