@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.home{
    --primary: rgb(4, 111, 251);
    --secondary:rgb(175, 200, 235);
    --terciary: rgb(255, 255, 255);

    --space:rgb(1, 2, 40);
    --space-washed: rgb(42, 44, 69);
    --softlilly: rgb(203, 202, 234);
    --violet: rgb(156, 94, 197);
    --clay: rgb(108, 94, 107);

    .background{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        background: var(--space);
    }
}